<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Products - Spring MVC Application</title>
<th:block th:include="layout/header"></th:block>
</head>
<body>
	<div class="container">

		<div class="mb-3">
			<div class="jumbotron">
				<div class="row text-left">
					<div class="row">
						<h2>Informe um vídeo e escolha o formato para o qual deseja convertê-lo.</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Upload</span>
			</div>
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="inputGroupFile01">
				<label class="custom-file-label" for="inputGroupFile01">Escolha um vídeo</label>
			</div>
		</div>
		<div th:if="${not #lists.isEmpty(products)}">
			<h2>Todos os vídeos</h2>
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>Type</th>
					<th>Category</th>
					<th>Price</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				<tr th:each="product : ${products}">
					<td th:text="${product.id}">Id</td>
					<td th:text="${product.name}">Name</td>
					<td th:text="${product.description}">Description</td>
					<td th:text="${product.type}">Type</td>
					<td th:text="${product.category}">Category</td>
					<td th:text="${product.price}">Price</td>
					<td><a th:href="${'/products/edit/' + product.id}"
						class="btn btn-default">Edit</a></td>
					<td><a th:href="${'/products/delete/' + product.id}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>